*{
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
.box{
    width: 10rem;
    height: 10rem;
    font-size: 1.2rem;
    border: 1px solid royalblue;
}
.static{
    background-color: hotpink;
    position: static;
}
.relative-1{
    background-color: rgba(213, 116, 31, 0.889);
    position: relative;
    top: 0;
    left: 10rem;
    z-index: 2;

}
.relative-2{
    background-color: rgba(93, 11, 134,0.492);
    position: relative;
    top:-5rem;
    left:15rem;
    z-index: 1;
    
}
.absolute{
    position: absolute;
    background-color: khaki;
    width: 3rem;
    height: 3rem;
    font-size: 0.8rem;
}
.top-left{
    top:0;
    left:0;

}
.top-right{
    top:0;
    right:0;
}
.bottom-left{
    bottom:0;
    left:0;
}

.bottom-right{
    bottom:0;
    right:0;
}
.center{
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
}




