*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
   
}
header{
    background-color: lightpink;
    padding: 3rem;
    font-size: 2rem;
}
nav.sticky{
    background-color: lightyellow;
    padding: 1rem;
    position: sticky;
    top: 0;
}
div.fixed{
    background-color: limegreen;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 2.3rem;
    text-align: center;
    padding-top: 0.2rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: fixed;
    bottom:6rem;
    right: 2rem;
}
footer{
    background-color: black;
    color: white;
    padding: 2rem;
    position: fixed;
    width: 100%;
    bottom:0;
}
.main{
    background-color: bisque;
    padding: 2rem;
    margin-bottom: 3rem;

}