*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    color: #020F59;
}
.images{
    width: 400px;

    border-color: #ece;
    border-width: 6px;
    border-style: solid;
    border-style: inset;

    border: 7px inset #bebe;
}
